# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#忽略vs相关文件
.vs/
temp/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.pdb

#忽略vscode 文件
.idea/
.vscode/
.test/
bin/
#不过滤的有
!*.cpp
!*.h
!*.hpp
!*.cc
!*.c
!*.md


